# https://github.com/bazelbuild/stardoc/issues/112
common --incompatible_allow_tags_propagation

common --flag_alias=swiftcopt=//swift:copt
common --flag_alias=host_swiftcopt=//swift:exec_copt

# Fail if a glob doesn't match anything (https://github.com/bazelbuild/bazel/issues/8195)
build --incompatible_disallow_empty_glob

build --host_macos_minimum_os=14.0
build --macos_minimum_os=14.0

# We don't need to bump some of our dependencies, just becuse our dev
# dependencies cause us to use a newer version
build --check_direct_dependencies=off

# This is needed for Bazel 6 compatibility.
# It's enabled (and can't be disabled) in Bazel 7.
# TODO: Remove this once we drop Bazel 6 support.
# See also: https://github.com/bazelbuild/bazel/issues/14327
build --experimental_enable_aspect_hints

# Make sure no warnings slip into the C++ tools we vendor
build --features treat_warnings_as_errors
# TODO: Remove when we update protobuf
build --copt=-Wno-deprecated-declarations --host_copt=-Wno-deprecated-declarations

# The default strategy is worker, which has sandboxing disabled by default,
# which can hide issues with non-hermetic bugs.
build --worker_sandboxing

build --enable_platform_specific_config

common:linux --repo_env=CC=clang
build:linux --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'

# This C2K warning causes zlib to fail to compile.
# There is an open issue about it on the zlib repository here:
# https://github.com/madler/zlib/issues/633
build --per_file_copt="external/.*zlib.*/.*.c@-Wno-deprecated-non-prototype"

# TODO: Remove once fixed
build --per_file_copt="external/.*protobuf.*/.*@-Wno-unused-private-field"
build --host_per_file_copt="external/.*protobuf.*/.*@-Wno-unused-private-field"
